{% extends 'base/base.html' %}

{% block content %}
    <div class="px-10 py-8 bg-gray-100 rounded-lg">
        <div class="grid gap-6 border">
            {% for message in conversation.messages.all %}
                <div class="flex-1 flex flex-col justify-start gap-2 px-4 rounded-lg {% if message.sender == request.user %} bg-blue-200 {% else %} bg-green-200 {% endif %}">
                    <h1 class="text-xl text-gray-700 font-bold">{{ message.sender.username }}</h1><p> | {{ message.created_at}}</p>
                    <p class="text-l text-gray-700 font-semibold">{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div>
            <form method="POST" action="{% url 'chatbox:inbox_detail' conversation.id %}">
                {% csrf_token %}

                <div class="mt-5">
                    <label>Reply:<br>
                        {{ form.content }}
                    </label>
                </div>

                <div class="flex justify-end">
                    <button class="px-6 py-2 mt-5 bg-green-400 rounded-xl font-semibold text-white">Send</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
