{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
       <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

        <!-- Leaflet Geocoder CSS -->
         <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
        <title>HomeLink</title>
    </head>
    <body>
        <nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
            <a href="/" class="text-xl text-blue-500 font-bold">HomeLink</a>

            <div class="flex justify-between items-center space-x-5">
                <a href="{% url 'base:featured' %}" class="text-lg text-gray-700 font-semibold px-4 py-2 hover:bg-green-300 hover:rounded-xl hover:text-white transtion-colors duration-200 ease-in">Featured</a>

                <div class="relative inline-block group">
                    <button class="text-lg text-gray-700 font-semibold px-4 py-2 border-white hover:bg-green-300 hover:rounded-xl hover:text-white transtion-colors duration-200 ease-in">Category</button>

                    <div class="absolute hidden mt-1 w-40 bg-white shadow-lg rounded-md group-hover:block z-50">
                        {% for category in categories %}
                            <a href="{% url 'service:search_query' %}?search={{ search }}&category={{ category.id }}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 {% if category.id == category_id %}bg-gray-300{% endif %}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>

                {% if request.user.is_authenticated %}
                    <div class="flex space-x-4">
                        <a href="{% url 'chatbox:inbox' %}" class="bg-blue-500 border border-blue-500 rounded-xl px-4 py-2 text-white font-semibold hover:bg-blue-300 hover:border-blue-300 transtion-all duration-200 ease-in">Inbox</a>
                        <a href="{% url 'dashboard:dashboard' %}" class="bg-green-400 border border-green-500 rounded-xl px-4 py-2 text-white font-semibold hover:bg-green-300 hover:border-green-300 transtion-all duration-200 ease-in">Dashboard</a>
                    </div>
                {% else %}
                    <div class="flex space-x-4">
                        <a href="{% url 'base:login' %}" class="bg-blue-500 border border-blue-500 rounded-xl px-4 py-2 text-white font-semibold hover:bg-blue-300 hover:border-blue-300 transtion-all duration-200 ease-in">Login</a>
                        <a href="{% url 'base:signup' %}" class="bg-green-400 border border-green-500 rounded-xl px-4 py-2 text-white font-semibold hover:bg-green-300 hover:border-green-300 transtion-all duration-200 ease-in">Join</a>
                    </div>
                {% endif %}
            </div>
        </nav>
        <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="px-4 py-6 border-t border-gray-200 bg-gray-800 pt-10">
            <div class="grid grid-cols-3 gap-6">
                <div class="flex flex-col space-y-4 px-10">
                    <a class="text-white text-lg font-semibold">About</a>
                    <a href="{% url 'base:contact' %}" class="text-gray-300 font-semibold">Contact</a>
                    <a href="#" class="text-gray-300 font-semibold">Help & Support</a>
                    <a href="{% url 'base:signup' %}" class="text-gray-300 font-semibold">Selling a service</a>
                    <a href="{% url 'base:signup' %}" class="text-gray-300 font-semibold">Booking a service</a>
                </div>
                <div class="flex flex-col space-y-4 px-10">
                    <a class="text-white text-lg font-semibold">Categories</a>
                    {% for category in categories %}
                        <a href="{% url 'service:search_query' %}?search={{ search }}&category={{ category.id}}" class="text-gray-300 font-semibold">{{ category.name }}</a>
                    {% endfor %}
                </div>
                <div class="flex flex-col space-y-4 px-10">
                    <a class="text-white text-lg font-semibold">Follow us</a>
                    <div class="flex items-center space-x-4">
                        <a href="#" class="px-1 py-1 rounded-full hover:bg-blue-300 bg-gray-300 transtion-colors duration-200 ease-in">
                            <img src="{% static 'images/facebook.svg' %}" alt="facebook icon" class="w-5 h-5">
                        </a>
                        <a href="#" class="px-2 py-2 rounded-full hover:bg-blue-300 bg-gray-300 transtion-colors duration-200 ease-in">
                            <img src="{% static 'images/instagram.svg' %}" alt="instagram icon" class="w-4 h-4">
                        </a>
                        <a href="#" class="px-2 py-2 rounded-full hover:bg-blue-300 bg-gray-300 transtion-colors duration-200 ease-in">
                            <img src="{% static 'images/x.svg' %}" alt="x icon" class="w-4 h-4">
                        </a>
                    </div>
                    <a href="#" class="text-gray-300 font-semibold">homelink@example.com</a>
                </div>
            </div>
            <div class="border-t border-gray-300 mt-6 text-center">
                <p class="text-gray-300 text-sm py-4">© 2025 HomeLink. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>